.group a {
    padding: 15px 15px 15px 50px;
    display: block;
    text-shadow: 0 1px 0 #666;
    color: #fff;
}
.group a:hover, .group a:focus {
    color: #fff;
}
.group {
    position: relative;
}
.group>button {
    position: absolute;
    right: 0;
    top: 0;
    padding: 3px 7px;
    margin: 12px;
}
.group>button:focus,
.group>button:hover {
    color: #fff;
}
.group>button .glyphicon {
    top: 2px;
}

/* hide transparency buttons for layers that it doesn't apply to */
.lifestyle>button {
    display: none;
    visibility: hidden;
}
