.report .main {
    margin-top: 20px;
    padding: 0 10px;
}
.report .location ul {
    margin: 0;
    padding: 0;
}
.report .location ul li {
    list-style: none;
}
.report .location {
    width: 100%;
    margin-bottom: 15px;
}
.report .hide {
    opacity: 0;
}
.report td.header {
    padding: 0 !important;
}

/* modify address css for report */
.report .pull-left {
    float: none !important;
}
.report .address2 {
    visibility: hidden;
    display: none;
}

/* Report Tables */
.report .table {
    border-bottom: 1px solid #dddddd;
}
.report .table tr td:first-child,
.report .table tr th:first-child {
    padding-left: 15px;
}
.report .table tr td:last-child,
.report .table tr th:last-child {
    padding-right: 15px;
}
.report .provider {
    width: 250px;
}
.report #broadband .contact-fld {
    width: 200px;
}
.report #broadband .service-class {
    width: 175px;
}
.report h3 {
    text-transform: uppercase;
    margin: 0;
    padding: 15px 0 15px 55px;
    color: #fff;
}
.report a[data-toggle='collapse']:hover,
.report a[data-toggle='collapse']:active, 
.report [data-dojo-attach-point='reportContainer']>a {
    color: #fff;
}
.report table.half th,
.report table.half td {
    width: 50%;
}
.report h4 {
    padding: 5px 15px;
    margin: 0;
    color: #fff;
}
.report h4.no-background {
    color: #333;
}
@media print {
    .report .btn, 
    .current-location {
        visibility: hidden;
        display: none;
    }
}