.report .main {
    margin-top: 20px;
    padding: 0 10px;
}
.report .location ul {
    margin: 0;
    padding: 0;
}
.report .location ul li {
    list-style: none;
}
.report .location {
    width: 100%;
    margin-bottom: 15px;
}

/* modify address css for report */
.report .pull-left {
    float: none !important;
}
.report .address2 {
    visibility: hidden;
    display: none;
}
/* Report Tables */

.report h3 {
    text-transform: uppercase;
    margin: 0;
    padding: 15px 0 15px 55px;
    color: #fff;
}
.report [data-dojo-attach-point='reportContainer']>a {
    color: #fff;
}
.report h4 {
    padding: 5px 15px;
    margin: 0;
    color: #fff;
}
.report h4.no-background {
    color: #333;
}
@media print {
    .report .btn, 
    .current-location {
        visibility: hidden;
        display: none;
    }
}