@import '../../agrc/resources/locate/FindAddress.css';
@import '../../agrc/resources/locate/MagicZoom.css';
.search {
    margin-bottom: 10px;
}
.search .find-address label.control-label {
    font-size: 14px;
    font-weight: normal;
}
.search .find-address .btn-default {
    width: 100%;
}
