@import url('https://fonts.googleapis.com/css?family=Lato|Oswald:400,600');
@import '../../bootstrap/dist/css/bootstrap.css';
@import '../../esri/css/esri.css';
@import '../../agrc/resources/map/BaseMap.css';
@import '../../awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css';
@import '../../seiyria-bootstrap-slider/dist/css/bootstrap-slider.css';
@import '../../../src/layer-selector/resources/LayerSelector.css';
@import 'CurrentLocation';
@import 'FindAddress';
@import 'Group';
@import 'Layer';
@import 'Layers';
@import 'Search';
@import 'Slider';
@import 'SureSites';
@import 'EnterpriseZones';
@import 'variables';

html, body, .app
    width 100%
    height 100%
    font-family 'Lato', sans-serif

.app
    .side-bar
        position absolute
        width $side-bar-width
        height 100%
        overflow-y scroll
        background-color $background-grey
        padding 10px
        color #FFFFFF
        .title, .links
            font-family 'Oswald', sans-serif
            font-size 1.05em
        .title
            line-height 38px
            font-size 2.5em
            font-weight 600
            @media $mobile-media-query
                font-size 1.4em
                text-align center
        .links
            @media $mobile-media-query
                text-align center
                font-size 1em
                li
                    display inline-block
                    margin-left 15px
        ul
            list-style-type none
            padding-left 0
        hr
            margin 0
        a:not(.btn)
            color @color
        img.logo
            padding-top 10px
        @media $mobile-media-query
            width 100%
            max-height $mobile-header-height
            overflow hidden
            transition-property all
            transition-duration .5s
            &.expanded
                max-height 100%
                overflow-y scroll
        .help-container
            display flex
            align-items center
            justify-content space-between
            .mobile-menu-btn
                display none
                visibility hidden
                @media $mobile-media-query
                    visibility visible
                    display inherit
                    font-size 17px
                    padding 6px 7px
                    border-color #57585A
                    border-radius 5px
                    margin 10px 0 10px 10px
        .footer-links
            display flex
            font-size .8em
            justify-content center
            margin-bottom 2px
            li
                padding 0 10px
    .map
        position absolute
        top 0
        bottom 0
        left $side-bar-width
        right 0
        .layer-selector
            top 70px
            max-width 160px
            box-shadow none
            border solid 1px $map-control-border
            label.layer-selector-items
                padding-left 23px
            .layer-selector-item
                &.checkbox
                    padding-left 0
                input[type='radio'],
                input[type='checkbox']
                    opacity 1
                label
                    max-width 140px
        .esriPopup .contentPane
            padding 6px 10px
        @media $mobile-media-query
            top $mobile-header-height
            left 0
