.current-location
    margin-bottom 15px
    h4
        img
            vertical-align top
            height 20px
    .glyphicon-refresh
        font-size 34px
        margin-left -18px
        left 50%
        animation spin 4s linear infinite
    ul
        padding 0
        li
            list-style none
            color #F1F1F2
    .address li
        text-overflow ellipsis
        white-space nowrap
        overflow hidden

@keyframes spin { 100% { transform: rotate(360deg) } }
