.find-address .form-group
    position relative
    .help-block:not(.no-match-found)
        right 8px
        position absolute
        top 2px
        z-index 100
    &:not(.has-error) .help-block
        display none
        visibility hidden
