@import 'variables'

.report
    .logo-container
        display flex
        flex-direction row
        justify-content space-between
        flex-wrap wrap
        align-items center
        margin 5px 10px
        @media $mobile-media-query
            flex-direction column
    .main
        margin-top 20px
        padding 0 10px
    .location
        width 100%
        margin-bottom 15px
        ul
            margin 0
            padding 0
            li
                list-style none
    .hide
        opacity 0
    td.header
        padding 0 !important
    h3>span
        float right
        margin-right 20px

    // modify address css for report
    .pull-left
        float none !important
    .address2
        visibility hidden
        display none

    h3
        &.broadband, &.sure-sites
            background $broadband-sure-sites url(img/icons/broadband.svg) 15px 15px no-repeat
        &.transportation
            background $transportation url(img/icons/transportation.svg) 15px 15px no-repeat
        &.utilities
            background $utilities url(img/icons/utilities.svg) 15px 15px no-repeat
        &.lifestyle
            background $lifestyle url(img/icons/lifestyle.svg) 15px 15px no-repeat
        &.demographics
            background $demographics url(img/icons/demographics.svg) 15px 15px no-repeat
    h4
        &.broadband, &.sure-sites
            background-color $broadband-sure-sites_secondary
        &.transportation
            background-color $transportation_secondary
        &.utilities
            background-color $utilities_secondary
        &.lifestyle
            background-color $lifestyle_secondary
        &.demographics
            background-color $demographics_secondary

    // Report Tables
    .table
        border-bottom: 1px solid #dddddd;
        tr td:first-child,
        tr th:first-child
            padding-left: 15px;
        tr td:last-child,
        tr th:last-child
            padding-right: 15px;
    .provider
        width: 250px;
    #broadband
        .contact-fld
            width: 200px;
        .service-class
            width: 175px;
    h3
        text-transform: uppercase;
        margin: 0;
        padding: 15px 0 15px 55px;
        color: #fff;
    a[data-toggle='collapse']:hover,
    a[data-toggle='collapse']:active,
    [data-dojo-attach-point='reportContainer']>a
        color: #fff;
    table.half th,
    table.half td
        width: 50%;
    h4
        padding: 5px 15px;
        margin: 0;
        color: #fff;
        &.no-background
            color: #333;
    .sure-sites
        display: flex;
        strong
            font-size: 16px;
        .data
            width: 65%;
            flex-grow: 2;
        .photos
            width: 35%;
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            img
                max-width: 100%;
                border: solid 1px #333;
                margin: 5px;

@media print
    body
        font-size 12px
    .report
        .btn, .current-location
            display none
            visibility hidden
        h2, .address
            padding-left 15px
        h3
            padding-bottom 0
            &>span
                display none
                visibility hidden
            &.sure-sites, &.broadband
                color $broadband-sure-sites !important
            &.transportation
                color $transportation !important
            &.utilities
                color $utilities !important
            &.lifestyle
                color $lifestyle !important
            &.demographics
                color $demographics !important
        a[data-toggle='collapse'] h3
            background none
            padding-left 15px
