$background-grey = #454E56
$side-bar-width = 300px
$map-control-border = #57585A

// group colors
$broadband-sure-sites = #000000
$transportation = #E09525
$utilities = #107A89
$lifestyle = #0D8C44
$demographics = #C22127
