<div>
    <div id="header-container" class="site-full">
        <div id="mobilemenu">
            <!-- <a href="#" id="mobile-mainmenu-button" class="ir">Main Menu</a>
            <a href="#" id="mobile-searchbutton" class="ir">Search</a> -->
            <span>GOED | Utah Business Relocation Map</span>
        </div>
    
        <div id="header-wrapper" class="site-full">
            <div id="header" class="site">
                <span id="broadband-logo" class="ir"></span>
                <div data-dojo-attach-point="currentLocationDiv"></div>
            </div>
        </div>
    </div>
    
    <div class="site-full clearfix">
        <div class="site-full" data-dojo-attach-point='mapContainer'>
            <div data-dojo-attach-point="mapDiv" class='map'></div>
            <div class="site">
                <div data-dojo-attach-point='layersDiv' class='layers'></div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    
    <div id="footer-wrapper" class="site-full">
        <div id="footer" class="site">
            <div id="goed-logo" class="pull-left"></div>
            <div class="col35 pull-left">
                <p>Governor's Office of Economic Development (GOED)</p>
                <div class="col pull-left">
                    <address>
                        271 West Bitterbrush Lane
                        <br /> Salt Lake City, Utah 84020
                    </address>
                </div>
    
                <div class="col pull-right">
                    <p>Phone: (801) 571-0900
                        <br /> Email: <a href="mailto:broadband@utah.gov">broadband@utah.gov</a>
                    </p>
                </div>
                <div class="clearfix"></div>
            </div>
    
            <div class="col20 pull-right">
                <ul>
                    <li><a href="http://www.utah.gov/main/index">Utah.gov</a></li>
                    <li><a href="http://www.utah.gov/disclaimer.html">Terms of Use</a></li>
                    <li><a href="http://www.utah.gov/privacypolicy.html">Privacy Policy</a></li>
                    <li><a href="http://www.utah.gov/accessibility.html">Accessibility Policy</a></li>
                    <li><a href="http://www.utah.gov/translate.html">Translate</a></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
