<div>
    <div id="header-container" class="site-full">
        <div id="mobilemenu">
            <!-- <a href="#" id="mobile-mainmenu-button" class="ir">Main Menu</a>
            <a href="#" id="mobile-searchbutton" class="ir">Search</a> -->
            <span>GOED | Utah Business Relocation Map</span>
        </div>

        <div id="header-wrapper" class="site-full">
            <div id="header" class="site">
                <span id="broadband-logo" class="ir"></span>
                <div data-dojo-attach-point="currentLocationDiv"></div>
                <div class='contact pull-right'>
                    <a href='http://utahsuresites.com' class='suresitesLogo ir' target="_blank">Sure Sites</a>
                    <a href='tel:801-538-8831' class='expertLogo ir'
                        title='801-538-8831'>Ask An Expert!</a>
                </div>
            </div>
        </div>
    </div>

    <div class="site-full clearfix">
        <div class="site-full" data-dojo-attach-point='mapContainer'>
            <div data-dojo-attach-point="mapDiv" class='map'></div>
            <div class="site">
                <div data-dojo-attach-point='layersDiv' class='layers'></div>
                <div class="clearfix hidden"></div>
            </div>
        </div>
    </div>

    <div id="footer-wrapper" class="site-full">
        <div class='contact'>
            <a href='http://utahsuresites.com' class='suresitesLogo ir' target="_blank">Sure Sites</a>
            <a href='tel:801-538-8831' class='expertLogo ir'
            title='801-538-8831'>Ask An Expert!</a>
        </div>
        <div id="footer" class="site">
            <a href="http://edcutah.org" id="edcLogo" class="ir" target='_blank'>Economic Development Corporation of Utah</a>
            <a href="http://goed.utah.gov" id="goedLogo" class="ir" target='_blank'>Governor's Office of Economic Development</a>

            <div class="col20 pull-right">
                <ul>
                    <li><a href="http://www.utah.gov/main/index" target='_blank'>Utah.gov</a></li>
                    <li><a href="http://www.utah.gov/disclaimer.html" target='_blank'>Terms of Use</a></li>
                    <li><a href="http://www.utah.gov/privacypolicy.html" target='_blank'>Privacy Policy</a></li>
                    <li><a href="http://www.utah.gov/accessibility.html" target='_blank'>Accessibility Policy</a></li>
                    <li><a href="http://www.utah.gov/translate.html" target='_blank'>Translate</a></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
