<div>
    <div id="header-container" class="site-full">
        <div id="mobilemenu">
            <!-- <a href="#" id="mobile-mainmenu-button" class="ir">Main Menu</a>
            <a href="#" id="mobile-searchbutton" class="ir">Search</a> -->
            <span><a href="/">GOED | Utah Business Relocation Map</a></span>
        </div>
    
        <div id="header-wrapper" class="site-full">
            <div id="header" class="site">
                <span id="broadband-logo" class="ir"></span>
    
                <div id="locationSummary">
                    <h4>Current Location</h4>
                    <div class="clearfix"></div>
    
                    <div class="address left">
                        <ul>
                            <li>3200 West 6100 South</li>
                            <li>Taylorsville, UT 84129</li>
                            <li>Salt Lake County</li>
                        </ul>
                    </div>
    
                    <div class="address2 right">
                        <a href="#" class="button yellow">Print Summary</a>
                    </div>
                </div>
            </div>
        </div>
    
        <div id="mainmenu-wrapper">
            <div class="site clearfix"></div>
        </div>
    </div>
    
    <div id="content-wrapper" class="site-full clearfix">
        <div id="content" class="site-full">
            <div id="content-main" class="site">
                <div id="layers">
                    <p>Search by Location or Place</p>
                    <div id="searchform_main">
                        <form id="cse-search-box" action="">
                            <input type="text" name="q">
                            <input class="searchButton gray-v ir" type="submit" name="sa" id="sa" value="Search">
                            <input type="hidden" value="011332109034691905717:gtynohz2vcc" name="cx">
                            <input type="hidden" value="FORID:10" name="cof">
                            <input type="hidden" value="UTF-8" name="ie">
                            <input type="hidden" name="siteurl" value="">
                            <input type="hidden" name="ref">
                            <input type="hidden" name="ss">
                        </form>
                    </div>
                    <p></p>
    
                    <div id="reloLayers">
                        <ul>
                            <li class="broadband"><a href="#" id="broadband">Broadband</a>
                                <ul>
                                    <li>Broadband Fiber</li>
                                    <li>Broadband Fiber in 9 months</li>
                                </ul>
                            </li>
    
                            <li class="utilities"><a href="#" id="utilities">Utilities</a>
                                <ul>
                                    <li>Natural Gas</li>
                                    <li>Electrical Utilities</li>
                                    <li>Telephone Utilities</li>
                                    <li>Water Systems</li>
                                </ul>
                            </li>
                            <li class="transportation"><a href="#" id="transportation">Transportation</a>
                                <ul>
                                    <li>Major Roads</li>
                                    <li>Airports</li>
                                </ul>
                            </li>
                            <li class="lifestyle"><a href="#" id="lifestyle">Lifestyle</a>
                                <ul>
                                    <li>National and State Parks</li>
                                    <li>Ski Areas</li>
                                    <li>Golf Courses</li>
                                </ul>
                            </li>
                            <li class="demographics"><a href="#" id="demographics">Demographics</a>
                                <ul>
                                    <li>Higher Education</li>
                                    <li>Enterprise Zones</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    
    <div id="footer-wrapper" class="site-full">
        <div id="footer" class="site">
            <div id="goed-logo" class="left"></div>
            <div class="col35 left">
                <p>Governor's Office of Economic Development (GOED)</p>
                <div class="col left">
                    <address>
                        271 West Bitterbrush Lane
                        <br /> Salt Lake City, Utah 84020
                    </address>
                </div>
    
                <div class="col right">
                    <p>Phone: (801) 571-0900
                        <br /> Email: <a href="mailto:lonepeakfire@utah.gov">broadband@utah.gov</a>
                    </p>
                </div>
                <div class="clearfix"></div>
            </div>
    
            <div class="col20 right">
                <ul>
                    <li><a href="http://www.utah.gov/main/index">Utah.gov</a></li>
                    <li><a href="http://www.utah.gov/disclaimer.html">Terms of Use</a></li>
                    <li><a href="http://www.utah.gov/privacypolicy.html">Privacy Policy</a></li>
                    <li><a href="http://www.utah.gov/accessibility.html">Accessibility Policy</a></li>
                    <li><a href="http://www.utah.gov/translate.html">Translate</a></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
