<div>
    <h4>Search by Location or Place</h4>

    <div data-dojo-attach-point="searchDiv"></div>
    <ul>
        <li class="broadband">
            <a href='#broadbandList' data-toggle='collapse'>Broadband</a>
            <ul id="broadbandList" class="collapse">
                <li>Broadband Fiber</li>
                <li>Broadband Fiber in 9 months</li>
            </ul>
        </li>
        <li class="utilities">
            <a href="#utilitiesList" data-toggle='collapse'>Utilities</a>
            <ul id='utilitiesList' class='collapse'>
                <li>Natural Gas</li>
                <li>Electrical Utilities</li>
                <li>Telephone Utilities</li>
                <li>Water Systems</li>
            </ul>
        </li>
        <li class="transportation">
            <a href="#transportationList" data-toggle='collapse'>Transportation</a>
            <ul id='transportationList' class='collapse'>
                <li>Major Roads</li>
                <li>Airports</li>
            </ul>
        </li>
        <li class="lifestyle">
            <a href="#lifestyleList" data-toggle='collapse'>Lifestyle</a>
            <ul id='lifestyleList' class='collapse'>
                <li>National and State Parks</li>
                <li>Ski Areas</li>
                <li>Golf Courses</li>
            </ul>
        </li>
        <li class="demographics">
            <a href="#demographicsList" data-toggle='collapse'>Demographics</a>
            <ul id='demographicsList' class='collapse'>
                <li>Higher Education</li>
                <li>Enterprise Zones</li>
            </ul>
        </li>
    </ul>
</div>